﻿
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<style>
    body {
        background: url('../Content/img/loginBac.jpg');
        object-fit: cover;
        background-position: center center;
    }

    .color-line {
        display: none;
    }

    .hpanel .panel-body {
        border-radius: 20px;
        box-shadow: 0px 0px 10px #999;
    }
</style>

<script>
    function otherlogin(ele, type) {

        $('#LogInMethod').val(type);
        return true;
    }

</script>

@using (Html.BeginForm("Login", "User"))
{
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <img src="~/Images/swunmath_logo.png" alt="" width="250" height="auto" />
                </div>


                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Swunmath <strong>Login</strong></h3>
                        <div style="background: #6a6c6f;width: 110px;height:5px;display: block;margin-bottom: 22px;"></div>
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <input type="text" placeholder="Username" title="Please enter you username" required="" value="" name="UserName" id="username" class="form-control" style="padding:20px 10px;">
                            </div>
                            <div class="form-group">
                                <input type="password" title="Please enter your password" placeholder="Password" required="" name="Password" id="password" class="form-control" style="padding:20px 10px;">
                            </div>
                            <div class="form-group alert-danger">
                                @(Convert.ToString(ViewBag.Error_Message))
                            </div>
                            <button class="btn btn-success btn-xl btn-block" style="background: #004730; padding: 7px;font-size: 20px;margin-top: 20px;">
                                Login
                            </button>
                        </form>
                    </div>
                </div>



            </div>
        </div>

    </div>
}
@using (Html.BeginForm("OtherLogin", "User"))
{
    <form action="#" id="loginOther">
        <input type="hidden" name="LogInMethod" id="LogInMethod">
        <input type="submit" id="btnLogInGoogle" value="Log in with Google" onclick="Javascript: return otherlogin(this, 'Google');" />
        <input type="submit" id="btnLogInClever" value="Log in with Clever" onclick="Javascript: return otherlogin(this, 'Clever');" />
        <input type="submit" id="btnLoginClassLink" value="Log in with ClassLink" onclick="Javascript: return otherlogin(this, 'ClassLink');" />
    </form>
}
<div class="row" style="position:fixed;bottom:10px;width:100%;">
    <div class="col-md-12 text-center">
        Copyright © 2019 Swun Math. All rights reserved.
    </div>
</div>