body {
    overflow: hidden !important
}

.drawing-widget {
    position: relative;
    width: 700px;
    height: 400px;
    padding: 10px;
    margin: 0 auto;
}

.drawing-wrapper {
    width: 100%;
    height: 100%;
}

.drawing-board,
.drawing-board canvas {
    width: 100%;
    height: 100%;
}

.drawing-board {
    background: none;
    border: 1px solid #ddd;
}

.drawing-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.drawing-tools>div {
    padding: 5px 10px;
}

.drawing-tools>div>img {
    width: 32px;
}

#tool-undo,
#tool-redo {
    cursor: pointer;
}

.drawing-tools>div.disabled {
    opacity: .5;
    cursor: default !important;
}

.selected {
    background-color: #ddd;
}

#tool-stroke {
    padding-top: 12px;
}

.user-form {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 55;
    display: flex;
}

.jscolor {
    color: rgba(0, 0, 0, 0) !important;
    width: 38px;
    height: 100%;
    border: none;
    cursor: pointer;
    user-select: none;
}

input[type=email] {
    height: 28px;
    background-color: #eee;
    padding: 2px 4px;
    border: 1px solid #ccc;
    width: 125px;
}

.btn {
    background: blueviolet;
    padding: 0 7px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    line-height: 27px;
    margin-left: 5px;
    width: 145px;
}

@media (max-width:768px) {
    .drawing-widget {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .literally {
        min-height: 360px;
    }
    .user-form {
        position: relative;
        top: 5px;
        right: 0;
        width: 100%;
        justify-content: center;
    }
    input[type=email] {
        width: 100%;
    }
}