﻿@model List<PDFFlip.EntityFramework.eBook>
@{
    ViewBag.Title = "eBook";
}

<div class="content">
    <div class="row">
        <div class="col-lg-12">

            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                    </div>
                    e-Book
                </div>
                <div class="panel-body">
                    @*<div class="container">
                        <div class="row">
                            <div class="col-sm-1">
                                1
                            </div>
                            <div class="col-sm-2">
                                <a target="_blank" href="~/kotobee/20190808204527/"><img src="~/Images/Thumbnail/20190808204527.ico" width="100" height="100" /></a>
                            </div>
                            <div class="col-sm-4">
                                <a target="_blank" href="~/kotobee/20190808204527/"><h5> Students Journal</h5></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                2
                            </div>
                            <div class="col-sm-2">
                                <a target="_blank" href="~/kotobee/20190807150118/"><img src="~/Images/Thumbnail/20190808204557.ico" width="100" height="100" /></a>
                            </div>
                            <div class="col-sm-4">
                                <a target="_blank" href="~/kotobee/20190807150118/"><h5> Students Journal First Grade V3</h5></a>
                            </div>
                        </div>
                    </div>*@
                    
                    <div class="table-responsive">
                       
                        <table id="example2" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>e-Book ID</th>                                   
                                    <th>Thumbnail</th>
                                    <th>e-Book Title</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                @{ int a = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr height="150px">
                                        <td>@(a += 1)</td>
                                        <td>@item.eBookId</td>                                        
                                        <td><a target="_blank" href="@("/Swunmath/"+item.PdfPath)"><img height="150" width="150" src="@Url.Content("~/Images/Thumbnail/"+item.Thumbnailpath)" alt="@item.eBookTitle" /></a></td>
                                        <td align="left"><a target="_blank" href="@("/Swunmath/"+item.PdfPath)">@item.eBookTitle</a> </td>                          
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>