﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPDF</title>
    <script src="~/Scripts/config.js"></script>
    <script src="~/Scripts/lib/ionic/release/js/ionic.bundle.min.js"></script>
    <script src="~/Scripts/lib/ionic/release/js/angular-ui/angular-ui-router.min.js"></script>
    <script src="~/Scripts/lib/angular-css-injector/angular-css-injector.js"></script>
    <script src="~/Scripts/lib/angularjs-scorm-wrapper/angularjs-scorm-wrapper.min.js"></script>
    <script src="~/Scripts/lib/clipboard/ZeroClipboard.min.js"></script>
    <script src="~/Scripts/lib/tinCan/tincan-min.js"></script>
    <script src="~/Scripts/templates.js?c=88"></script>
</head>
<body ng-app>
    <div> 
        {{5+8}}
    </div>
</body>
</html>
