﻿<div id="navigation">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">                 
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted">Student</small>
                </a>
               
            </div>
            
        </div>
    </div>

    <ul class="nav metismenu" id="side-menu">
        
        <li>
            <a href="@Url.Action("eBook", "Home" )"><span class="nav-label"><i class="fa fa-book" aria-hidden="true"></i>e-Book</span><span class="fa arrow"></span> </a>
        </li>
        @*<li>
            <a href="#"><span class="nav-label"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</span><span class="fa arrow"></span> </a>
        </li>*@

        @*<li>
            <a href="@Url.Action("Login", "Home" )"><span class="nav-label"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span><span class="fa arrow"></span> </a>

        </li>*@
        @*@if (User.Identity.IsAuthenticated)
        {*@
        <li>
            <a href="@Url.Action("Login", "User" )"><span class="nav-label"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span><span class="fa arrow"></span> </a>
        </li>
        @*}*@
    </ul>
</div>