﻿<head>
    <title>@Page.Title</title>   
</head>
<div>
    <ul>
        <li><a id="dashboard" href="#">Dashboard</a></li>
        <li><a id="category" href="#">Category</a></li>
        <li><a id="ebook" href="#">e-Book</a></li>
        <li><a id="setting" href="#">Settings</a></li>
    </ul>

</div>


