.attention-component{width:100%;padding:20px;max-width:400px;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);z-index:10000}
.attention-component *{margin:0;padding:0;box-sizing:border-box}
.attention-component .inner{border-radius:20px;overflow:hidden;position:relative;box-shadow:0 1px 3px rgba(0,0,0,0.16),0 1px 3px rgba(0,0,0,0.13)}
.attention-component .inner-container{padding:20px;background-color:#fff}
.attention-component .head{padding:10px 40px 10px 20px;background-color:#3394de}
.attention-component .close{position:absolute;top:10px;right:10px;display:inline-block;margin-bottom:10px;cursor:pointer}
.attention-component .close path:first-child{fill:#fff}.attention-component .title{font-size:16px;color:#fff}
                                                       .attention-component .content{font-size:14px}.attention-component .input{width:100%;border:1px solid #f4f4f4;border-radius:5px;padding:10px 20px;margin-top:20px}.attention-component .input:focus{outline-offset:0;outline:none}.attention-component .button{padding:10px 20px;width:50%;display:block;margin:20px auto 0 auto;border:0;cursor:pointer;border-radius:10px;background-color:#3394de;color:#fff}.attention-component .buttons{margin-top:20px;text-align:center}.attention-component .cancel,.attention-component .confirm{padding:10px 20px;border:0;border-radius:5px;color:#fff;cursor:pointer}.attention-component .cancel{background-color:#EF767A;margin-right:10px}.attention-component .confirm{background-color:#25B686;margin-left:10px}
